*{
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
    background-color: #EBFAFF;
}

body{
    background-color: #EBFAFF;
}

.conditions, .inputContainer{
    margin: 5%;
}

.conditionsContainer{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logo{
    width: 280px;
    height: 48px;
}

.temperatureType{
    display: none;
}

.screenRight, .screenLeft{
    width: 50%;
}

.screenRight {
    justify-content: center;
    align-items: center;
}

.conditions, .cardContainer{
    width: auto;
    border: 2px solid #B7E2F0 ;
    border-radius: 30px;
    background-color: #FFFFFF;
}


.parameterDiv, .parameterDiv1, .luminosityDiv2, .wattsCalculationInput, .luminosityInput, .litersInput, .phInput, .ghInput{
    height: fit-content;   
    display: flex;
    flex-direction:row;
    background-color: #FFFFFF;
}

.wattsCalculationInput, .phInput, .ghInput{
    margin-left: 1%;
}

.parameterDiv{
    margin-top: 2%;
}

.luminosityDiv, .luminosityDiv2{
    align-items: baseline !important;
}

h4{
    font-size: clamp(15px,3vw, 25px);
    color: #00A7DC;
    background-color: #FFFFFF;
}

input{
    border: 2px solid #B7E2F0;
    border-radius: 30px;
    background-color: #FFFFFF;
}

h2{
    font-size: clamp(10px,3vw, 20px);
    color: #00A7DC;
    background-color: #FFFFFF;
}

.parameterDiv button{
    border: 2px solid #B7E2F0;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.expand {
    width: fit-content;
    margin-top: 2%;
    background-color: #FFFFFF;
    border: 2px solid #B7E2F0;
    border-radius: 30px;
    align-content: center;
}

.expand button, .video, .getData, .button, .swiperContainer, .buttonShowAll{
    font-size: clamp(10px,3vw, 20px);
    color: #00A7DC;
    border: 2px solid #B7E2F0;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.buttonIcon{
    color: #00A7DC;
    border-radius: 30px;
}

.bulbTypeContainer, .waterTypeContainer, .temperatureContainer, .plantedContainer{
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.button{
    width: inherit;
}

.parameterDiv label{
    font-size: clamp(10px,3vw, 20px);
    color: #00A7DC;
    border: 2px solid #B7E2F0;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.wattsCalculation{
    margin: 2%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.wattsCalculation input{
    background-color: #FFFFFF;
}


.calculate{
    background-color: #FFFFFF;
    margin-left: 5%;
    display: inherit;
    align-content: center;
}

.temperatureType{
    display: none;
}

.video{
    max-width: 560px;
    max-height: 315px;
    width: 80%;
    height: 100%;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiperTitle{
    width: 90%;
}


.swiperIcon{
    width: 10%;
}

.swiperImg, .modalImg{
    width: 100%;
    height: 100%;   
    object-fit: fill;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.modalImg{
    border-radius: 30px;
}

.modal-dialog, .modal-content {
    border-radius: 300px !important; 
}

.modal-body, .modal-body h4, .modalDiv, .modalContainer, .modalContainer h4, .modalContainer p, .modal-dialog{
    background-color: #212121;
}

.modal-header{
    border-bottom: #212121;
}

.modal-footer{
    border-top-color: transparent;
}


@media only screen and (max-width: 1250px){
    .conditionsContainer, .screenRight, .screenLeft{
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .parameterDiv input, .parameterDiv1 input{
        margin-left: 5%;
    }

    .inputContainer{
        margin: 0%;
    }

    .temperatureType{
        display: none;
    }

    .conditionsContainer, .screenRight, .screenLeft{
        width: 90%;
    }

    .screenRight{
        height: 315px;
    }
}

@media only screen and (max-width: 850px){
    .wattsCalculation, .buttonsContainer{
        display: flex;
        flex-direction: column;
    }

    .wattsCalculation {
        margin-top: 4%;
    }

    .buttonsContainer {
        margin-left: 4%;
    }

    .screenRight{
        height: auto;
    }

    .conditionsContainer{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 4%;
    }

    .temperatureType{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    .parameterDiv, .parameterDiv1 {
        display: flex;
    }

    .luminosityDiv{
        display: flex;
        flex-direction: column;
        align-items: inherit !important;
    }

    .calculate, .collapsible {
        margin-left: 0% !important;
    }

    .parameterDiv input, .parameterDiv1 input{
        margin-left: 0%;
    }

    .temperatureType{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .wattsCalculationInput {
        margin-left: 0%;
    }

    .conditions{
        margin: 3%;
    }

    .temperatureType{
        display: none;
    }
}

